src/powerful/template_to_zip/Microsoft.Flow/flows/dc8e9329-33ec-4dab-89b7-00ec86c2f8df/definition.json
{
    "id": "/providers/Microsoft.Flow/flows/aa13e290-94bc-496c-89cf-ab697e00bf70",
    "name": "aa13e290-94bc-496c-89cf-ab697e00bf70",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "displayName": "Flow factory",
        "definition": {
            "metadata": {
                "workflowEntityId": null,
                "processAdvisorMetadata": null,
                "flowclientsuspensionreason": "None",
                "flowclientsuspensiontime": null,
                "creator": {
                    "id": "ffb11457-7a0b-4ab0-aa21-35cc0c3e7c1f",
                    "type": "User",
                    "tenantId": "32f814a9-68c8-4ca1-93aa-5594523476b3"
                },
                "provisioningMethod": "FromDefinition",
                "failureAlertSubscription": true,
                "clientLastModifiedTime": "2022-03-10T13:19:50.1423242Z"
            },
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                }
            },
            "triggers": {
                "manual": {
                    "metadata": {
                        "operationMetadataId": "46024f90-502d-430d-875e-a7e8bf36a266"
                    },
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "title": "Commands",
                            "type": "object",
                            "properties": {
                                "action": {
                                    "title": "Action",
                                    "type": "string",
                                    "enum": [
                                        "createFlow",
                                        "deleteFlow",
                                        "runFlow",
                                        "createConnection",
                                        "deleteConnection",
                                        "getConnections"
                                    ]
                                },
                                "inputs": {
                                    "title": "Inputs",
                                    "type": "object",
                                    "properties": {
                                        "environment": {
                                            "type": "string"
                                        },
                                        "flowId": {
                                            "type": "string"
                                        },
                                        "flowDisplayName": {
                                            "type": "string"
                                        },
                                        "flowDefinition": {
                                            "type": "object"
                                        },
                                        "flowState": {
                                            "type": "string",
                                            "enum": [
                                                "Stopped",
                                                "Started"
                                            ]
                                        },
                                        "connectionReferences": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "connectionName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "connectionName",
                                                    "id"
                                                ],
                                                "additionalProperties": false
                                            }
                                        }
                                    },
                                    "required": [],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "action",
                                "inputs"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "runtimeConfiguration": {
                        "secureData": {
                            "properties": [
                                "inputs",
                                "outputs"
                            ]
                        }
                    }
                }
            },
            "actions": {
                "Success": {
                    "runAfter": {
                        "Scope": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "2e94600b-9d6b-4e4f-9386-b4af959c0ce6"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                        "statusCode": 200,
                        "headers": {
                            "action": "@triggerBody()['action']"
                        },
                        "body": "@variables('responseBody')"
                    },
                    "runtimeConfiguration": {
                        "secureData": {
                            "properties": [
                                "inputs"
                            ]
                        }
                    }
                },
                "Scope": {
                    "actions": {
                        "Switch": {
                            "runAfter": {},
                            "cases": {
                                "Case_createFlow": {
                                    "case": "createFlow",
                                    "actions": {
                                        "Create_Flow": {
                                            "runAfter": {},
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                                                    "connectionName": "shared_flowmanagement",
                                                    "operationId": "CreateFlow"
                                                },
                                                "parameters": {
                                                    "environmentName": "@triggerBody()?['inputs']?['environment']",
                                                    "Flow/properties/displayName": "@triggerBody()?['inputs']?['flowDisplayName']",
                                                    "Flow/properties/definition": "@triggerBody()?['inputs']?['flowDefinition']",
                                                    "Flow/properties/state": "@triggerBody()?['inputs']?['flowState']",
                                                    "Flow/properties/connectionReferences": "@triggerBody()?['inputs']?['connectionReferences']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Set_response_to_flowId": {
                                            "runAfter": {
                                                "Create_Flow": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "responseBody",
                                                "value": {
                                                    "flowId": "@outputs('Create_Flow')?['body/name']"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Case_deleteFlow": {
                                    "case": "deleteFlow",
                                    "actions": {
                                        "Delete_Flow": {
                                            "runAfter": {},
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                                                    "connectionName": "shared_flowmanagement",
                                                    "operationId": "DeleteFlow"
                                                },
                                                "parameters": {
                                                    "environmentName": "@triggerBody()?['inputs']?['environment']",
                                                    "flowName": "@triggerBody()?['inputs']?['flowId']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "Case_getConnections": {
                                    "case": "getConnections",
                                    "actions": {
                                        "List_My_Connections": {
                                            "runAfter": {},
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                                                    "connectionName": "shared_flowmanagement",
                                                    "operationId": "ListConnections"
                                                },
                                                "parameters": {
                                                    "environmentName": "@triggerBody()?['inputs']?['environment']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "Set_response_to_connections_list": {
                                            "runAfter": {
                                                "List_My_Connections": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "responseBody",
                                                "value": "@body('List_My_Connections')"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()['action']",
                            "metadata": {
                                "operationMetadataId": "686dc260-b4e3-4b7d-baa5-29f7a296b602"
                            },
                            "type": "Switch"
                        }
                    },
                    "runAfter": {
                        "Initialize_responseBody": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "f2f489b0-0ed2-4677-bd16-0a3dee5ceae0"
                    },
                    "type": "Scope"
                },
                "Failed": {
                    "runAfter": {
                        "Scope": [
                            "Failed",
                            "TimedOut"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e62d62e8-e3c9-46c2-879d-0eaaf284ecca"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                        "statusCode": 500,
                        "headers": {
                            "action": "@triggerBody()['action']"
                        },
                        "body": "@variables('responseBody')"
                    },
                    "runtimeConfiguration": {
                        "secureData": {
                            "properties": [
                                "inputs"
                            ]
                        }
                    }
                },
                "Initialize_responseBody": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "f5d57fa3-ce31-4a5c-b594-e790ee9eed33"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "responseBody",
                                "type": "object",
                                "value": {}
                            }
                        ]
                    }
                }
            }
        },
        "connectionReferences": {
            "shared_flowmanagement": {
                "connectionName": "shared-flowmanagemen-8fd9aa45-4f0e-4b64-971b-bc8a-ea35141b",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                "tier": "NotSpecified"
            }
        },
        "flowFailureAlertSubscribed": false
    },
    "type": "Microsoft.Flow/flows"
}